/* GLOBAL  */
*, ::before, ::after{
    box-sizing: border-box;
    
    margin: 0;
    padding: 0;
}

/* Top header  */
.top__header{
        background: #0d369f;
        padding: 14px 15px;
}
ul {
    margin: 0;
    padding: 0;
}
.top__header .top__header__left li{
    display: inline-block;
    margin-right: 2em;
}
/* truoc hover  */
.top__header .top__header__left a, .top__header .top__header__left li{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}
/* sau hoveer  */
.top__header .top__header__left li a:hover{
    color: #ff6e65;
}
a, a:hover, button, button:hover {
    text-decoration: none;
    transition: .5s all;
    -webkit-transition: .5s all;
}
li{
    list-style-type: none
}
body a, button, .btn {
    cursor: pointer !important;
}


button, input, select, label, li, span {
    -webkit-appearance: none;
    outline: none;
}
.fa-solid,.fa-brands{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}